<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="siteStats" type="SiteStats.SiteStatsConfigHandler, SiteStats"/>
  </configSections>
  <siteStats>
    <ConnectionString>Data Source=PC-ZyuS\SQLEXPRESS;database=trade;Integrated Security=True</ConnectionString>
    <SessionIDPlace>Cookie</SessionIDPlace>
    <ParseAddData>true</ParseAddData>
    <PersistBots>true</PersistBots>
  </siteStats>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="cnTrade" connectionString="Data Source=PC-ZyuS\SQLEXPRESS;database=trade;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <httpModules>
      <add name="HTTPModule_Clearer"  type="HTMLClearer.HTTPModule_Clearer, HTMLClearer"/>
      <add name="SiteStatsModule" type="SiteStats.SiteStatsModule, SiteStats"/>
    </httpModules>
    <authorization>
      <allow users="ZyuS" />
    </authorization>
    <profile defaultProvider="SqlProfileProvider">
      <providers>
        <clear />
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="cnTrade" applicationName="Poisk" />
      </providers>
      <properties>
        <add name="ICQ" />
        <add name="Telephone" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="cnTrade" applicationName="Poisk" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="Poisk" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <remove name="AspNetSqlProvider" />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="cnTrade" enablePasswordRetrieval="false" enablePasswordReset="true" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="true" passwordFormat="Hashed" applicationName="Poisk" />
      </providers>
    </membership>
    <pages masterPageFile="~/main.master" />
  
    <compilation debug="true" defaultLanguage="c#" />
    
    <authentication mode="Forms" />    

        <customErrors mode="RemoteOnly" defaultRedirect="error.aspx">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
      
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="PickupDirectoryFromIis" from="info@prostopoisk.uz">
        <network defaultCredentials="true" host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
